---
import HeadSEO from "@/components/core/HeadSEO.astro";
import Header from "@/components/core/Header.astro";
import Footer from "@/components/core/Footer.astro";
import { Copy } from "@/components/core/Copy";

import SideNavMenu from "@/components/docs/SideNavMenu.astro";
import TableofContent from "@/components/docs/TableofContents.astro";
import MainContent from "@/components/docs/MainContent.astro";

import { ScrollArea } from "@/components/ui/scroll-area";

import type { DocsLayoutProps } from "@/lib/types";
import { menu, capitalizeFirstLetter } from "@/lib/utils";

import { LOCALE, SITE, docconfig } from "@/config";

const {
  title,
  author,
  pubDatetime,
  modDatetime,
  description,
  draft,
  tags,
  hide_breadcrumbs,
  hide_toc,
  hide_sidenav,
  max_width,
  headings,
} = Astro.props as DocsLayoutProps;
---

<!doctype html>
<html lang=`${LOCALE.lang ?? "en"}` class="scroll-smooth">
  <head>
    <HeadSEO
      title=`${title ? capitalizeFirstLetter(title) + " | " + SITE.title : SITE.title}`
      description={description}
    />
  </head>
  <body
    class=`font-sans ${hide_toc && hide_sidenav && max_width ? "" : "bg-card"}`
  >
    <Copy client:only="react" />
    <div class="flex flex-col min-h-screen">
      <Header class="border-b bg-background" />
      <main class="flex flex-1 flex-col md:flex-row container">
        <div
          class=`py-4 hidden md:flex max-h-static_sidemenu sticky top-[69px] 
          ${hide_toc && hide_sidenav && max_width ? "w-screen" : "md:px-6 md:w-1/4 lg:w-1/5"}`
        >
          <ScrollArea className="h-full w-full" client:only="react">
            {
              !docconfig.hide_side_navigations && !hide_sidenav && (
                <SideNavMenu items={menu} level={0} />
              )
            }
          </ScrollArea>
        </div>
        <div
          class=`w-full ${hide_toc && hide_sidenav && max_width ? "" : "md:w-3/4 lg:w-3/5"}`
        >
          <MainContent
            title={title}
            author={author}
            pubDatetime={pubDatetime}
            modDatetime={modDatetime}
            description={description}
            draft={draft}
            tags={tags}
            hide_breadcrumbs={hide_breadcrumbs}
            headings={headings}
          >
            <slot />
          </MainContent>
        </div>
        <div
          class=`py-4 hidden lg:flex max-h-static_sidemenu sticky top-[69px] ${hide_toc && hide_sidenav && max_width ? "" : "px-6 lg:w-1/5"}`
        >
          <ScrollArea className="h-full w-full" client:only="react">
            {
              !docconfig.hide_table_of_contents && !hide_toc && (
                <TableofContent {headings} />
              )
            }
          </ScrollArea>
        </div>
      </main>
      <Footer class="border-t border-border bg-background" />
    </div>
  </body>
</html>
